

<div id="page-breadcrumb-wrapper">
  <div id="page-breadcrumb">
    <a href="javascript:;" title="Dashboard">
      <i class="glyph-icon icon-table"></i>
      业务管理
    </a>
    <span class="current">
        老师
    </span>
  </div>
</div>
<!-- #page-breadcrumb-wrapper -->

<div id="page-content">

  <h4 class="heading-1 clearfix">
    <div class="heading-content">
      老师管理
    </div>
    <div class="float-right">
      <a href="<%= new_admin_teacher_url %>" class="btn small primary-bg" title="">
        <span class="button-content">
          <i class="glyph-icon icon-plus float-left"></i>
          新增老师
        </span>
      </a>
    </div>
  </h4>

  <div class="divider"></div>

  <form action="<%= url_for admin_teachers_path %>" class="col-md-10" method="GET">
    <input name="page" type="hidden" value="<%= @page %>"/>
    <div class="row">
      <div class="col-md-5">

        <div class="form-row">
          <div class="form-label col-md-2">
            <label for="">
              姓名
            </label>
          </div>
          <div class="form-input col-md-10">
            <input type="text" name="teacher_name" id="" value="<%= @teacher_name %>">
          </div>
        </div>

      </div>

      <div class="col-md-2">
        <button type="submit" class="btn medium primary-bg">搜索</button>
        <a href="<%= url_for admin_teachers_path %>" class="btn medium primary-bg">
          <span class="button-content">重置</span>
        </a>
      </div>

    </div>

  </form>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>姓名</th>
      <th>班级</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @teachers.each do |teacher| %>
    <tr>
      <td>#<%= teacher.id %></td>
      <td class="font-bold text-left"><%= teacher.username %></td>
      <td><a href="javascript:;"><%= teacher.klass.nil? ? '' : teacher.klass.name %></a></td>
      <td>
        <a href="<%= edit_admin_teacher_path(teacher) %>" class="btn small bg-blue-alt tooltip-button" data-placement="top" title="Edit">
          <i class="glyph-icon icon-edit"></i>
        </a>

        <%= link_to append_params(admin_teacher_path(teacher), page: @page, teacher_name: @teacher_name), {method: :delete, class: 'btn small bg-red tooltip-button', title: 'Remove', data: {:confirm => '确定删除？'}} do %>
          <i class="glyph-icon icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @teachers, params: { teacher_name: @teacher_name, klass_name: @klass_name } %>

</div>
<!-- #page-content -->