<% content_for :title do " - #{@student.name}的#{@activity.title}的照片" end %>

<div id="nav_title" class="row">
  <div class="col-md-6">
    <ol id="path" class="breadcrumb">
      <li><a href="<%= url_for klass_students_path(@student.klass) %>" data-remote="true">所有学生</a></li>
      <li><a href="<%= url_for student_activities_path(@student) %>" data-remote="true"><%= @student.name %></a></li>
      <li class="active"><%= @activity.title %></li>
    </ol>
  </div>
  <div id="actions" class="col-md-6">
  </div>
</div>

<div id="main">
  <%= render partial: 'pictures', object: @pictures %>
</div>
