<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">

      <div class="navbar-header">

        <a class="navbar-brand" href="#"><%= current_user.klass.name %></a>
      </div>
      <p class="navbar-text"><%= Time.now %></p>
      <p class="navbar-text navbar-right"><%= current_user.username %> <a href="#" class="navbar-link"><%= link_to "退出", signout_path, method: :get %></a></p>
    </nav>

  </div>
</div>
<div class="row">
  <div class="col-md-3" role="navigation">
    <div class="panel panel-primary">
      <div class="panel-heading">制作</div>
      <div class="panel-body">
        <p>这里来段说明，说明一下整个流程是怎么进行，简要一点就好，一来是个引导，一来美观</p>
      </div>

      <div class="list-group" id="operations">
        <a href="<%= url_for klass_activities_path(current_user.klass) %>" data-remote="true" id="update_images" class="list-group-item active">
          <span class="badge"><%= @pictures_count %></span>
          <h4 class="list-group-item-heading">上传照片</h4>
          <p class="list-group-item-text">点击这里上传小朋友的照片，这里是所有功能的入口</p>
        </a>

        <a href="<%= url_for klass_students_path(current_user.klass) %>" data-remote="true" id="classify" class="list-group-item">
        <span class="badge"><%= @students_count %></span>
          <h4 class="list-group-item-heading">照片归类</h4>
          <p class="list-group-item-text">
            说明一下归类是干嘛的
          </p>
        </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">排书</h4>
          <p class="list-group-item-text">
            说明一下排书是干嘛的
          </p>
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">最近操作</div>
      <div class="panel-body">
        六一儿童节
      </div>
    </div>
  </div>
  <div class="col-md-9" role="main">
    <div class="row">
      <div class="col-md-6">
        <ol id="path" class="breadcrumb">
          <li class="active">所有上传</li>
        </ol>
      </div>
      <div id="actions" class="col-md-6">

      </div>
    </div>



    <div id="main">
      <%= render partial: 'activities/activities', object: @user.klass.activities %>
    </div>




  </div>
</div>
<footer>
  <p>© 某某某信息技术有限公司 2013 - <a href="#">联系我们</a> - <a href="#">关于我们</a></p>

</footer>