$("#main").html("<%= escape_javascript(render partial: 'pictures', object: @pictures) %>");
$("#path").html(
    '<li><a href="<%= url_for klass_activities_path(current_user.klass) %>" data-remote="true">所有上传</a></li>'+
    '<li class="active"><%= @activity.title %></li>'
);
$("#actions").html(
    '<a href="#" id="open_upload_dialog_button" class="pull-right" data-toggle="modal" data-target="#upload_dialog">上传图片</a>'+
    '<a href="#" id="move_to_activities" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#move_to_activities_dialog" style="margin-right: 10px">移动图片至...</a>'+
    '<a href="#" id="" class="btn btn-default btn-xs pull-right" style="margin-right: 10px">复制图片至...</a>'+
    '<a href="#" id="" class="btn btn-default btn-xs pull-right" style="margin-right: 10px">分配图片给...</a>'+
    '<a href="#" id="select_images" class="btn btn-default btn-xs pull-right" style="margin-right: 10px">选择</a>'

);

function genereate_upload_widget() {
  $("#uploader").html('');
  $("#uploader").pluploadQueue({
    runtimes: 'html5,flash,silverlight',
    url: '<%= "http://#{request.host_with_port}/upload" %>',
    multipart_params: {
      '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>',
      '<%= Rails.application.config.session_options[:key] %>': '<%= request.session_options[:id] %>'
    },
    init : {
      FileUploaded: function(up, file, info) {
//        console.log('[FileUploaded] File:', file, "Info:", info);
        var url = eval("("+info.response+")").url;
        file.url = url;
      },
      UploadComplete: function(up, files) {
        $("#upload_dialog_confirm").attr("disabled", false);
      }
    }
  });
}

genereate_upload_widget();

$("#open_upload_dialog_button").click(function(){
  genereate_upload_widget();
});

$("#upload_dialog_confirm").click(function(){
  var pl = $("#uploader").pluploadQueue();

  if (pl.files.length > 0) {
    var data = {
      'urls': [],
      'activity_id': <%= @activity.id %>
    };
    for(var i=0;i<pl.files.length;i++) {
      var file = pl.files[i];
      data.urls.push(file.url);
    }
    $.post( '<%= "http://#{request.host_with_port}/pictures" %>', data, function( result ) {
      $.getScript('<%= "http://#{request.host_with_port}/activities/#{@activity.id}/pictures" %>');
    });
  }
  $('#upload_dialog').modal('hide');
});

$("#select_images").click(function(){
  var thumbnails = $("#main .thumbnail");
  if( $(this).hasClass("active") ) {
    $(this).removeClass("active");

    thumbnails.removeClass("selected");
    thumbnails.click(function(){
      //alert("hello");
    });
  } else {
    $(this).addClass("active");

    //点击图片
    thumbnails.click(function(){
      var thumbnail = $(this);
      if(thumbnail.hasClass("selected")){
        thumbnail.removeClass("selected");
      }else{
        thumbnail.addClass("selected");
      }
    });
  }
});

$("#move_to_activities_dialog_confirm").click(function(){
  var dest_activity_id = $("#activities").val();
  console.log(dest_activity_id);
  var thumbnails = $("#main .thumbnail.selected");
  var data = {
    'picture_ids': [],
    'src_activity_id': <%= @activity.id %>,
    'dest_activity_id':dest_activity_id
  };
  thumbnails.each(function(i, thumbnail){
    var id = $(thumbnail).attr("id");
    data.picture_ids.push(id);
  });

  $.post( '<%= "http://#{request.host_with_port}/move_to_activity" %>', data, function( result ) {
    $.getScript('<%= "http://#{request.host_with_port}/activities/#{@activity.id}/pictures" %>');
  });

  $('#move_to_activities_dialog').modal('hide');
});
