<!DOCTYPE html>
<html>
<head>
  <title>照片书 - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "sessions", media: "all" %>
  <%= javascript_include_tag "sessions" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="side">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>


  <!--<footer style="border:0;margin-top: 0;">-->
    <!--<p>© 某某某信息技术有限公司 2013 - <a href="#">联系我们</a> - <a href="#">关于我们</a></p>-->
  <!--</footer>-->

</div>
</body>
</html>
